
<footer>
    <section class="top-footer"><section class="upper-footer">

    </section>
    <h2> Recibí las mejores ofertas</h2>
    

    <div class=contenedor> <input class = barra-busqueda-footer type="text" placeholder="Ingresá tu correo electrónico">
        <span class=search-footer>Suscribite</span></div>    
       
        <ul class=redes-footer>         
            <li><a href=""><i class="fab fa-facebook-square"></i> </a></li>
            <li><a href=""><i class="fab fa-instagram"></i> </a></li>
            <li><a href=""><i class="fab fa-twitter"></i> </a></li>
            <li> <a href=""><i class="fab fa-youtube"></i> </a></li>
        </ul>
    </section>

    <section class="bottom-footer">

    </section>

</footer>