
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/c55/bootstrap.min.css">
<link rel="stylesheet" href="https: //cdnjs.cloudflare.com/ajax/libs/baguettebox.3s/1.8.1/baguetteBox.min.css">
<link rel="stylesheet" href="gallery-grid.css">
    <script src="https://kit.fontawesome.com/850256899c.js" crossorigin="anonymous"></script>
</head>