<!DOCTYPE html>
<html lang="en">
    <%-include ("./partials/head") %>
<body>
    <%-include("./partials/header") %>

<main>
    <section class="main-article">
        <i class="fas fa-arrow-circle-left"></i>
        <img src="/images/Notebook.jpg" class=producto-principal>
        <i class="fas fa-arrow-circle-right"></i>
    </section>

    <h2 class=titulares> Oferta por tiempo limitado </h2>

    <section class="article-off">
        <i class="fas fa-arrow-circle-left"></i>
         <img src="/images/Celular.jpg" class="product-off">
         <div class="description-off">
         <h3> Nombre del producto</h3>
         <p> Característic: descripción </p>
         <p> Característic: descripción </p>
         <p> Característic: descripción </p>
         <p> Característic: descripción </p>       
        </div>
        <i class="fas fa-arrow-circle-right"></i>
    </section>

    <h2 class=titulares> Podría interesarte </h2>

    <section class=interest>
        <div>
        <div class="box">
            <img src="/images/Aire acondicionado.jpg" class=product-interest>
            <h3>Aire y calefacción</h3>
        </div>
    </div>
    <div>
        <div class="box">
            <img src="/images/Televisor.png" class=product-interest>
            <h3>Televisores</h3>
        </div>
    </div>
        <div>
        <div class="box">
            <img src="/images/Notebook.jpg" class=product-interest>
            <h3>Notebooks</h3>
        </div>        
    </section>


    <h2 class=titulares> Celulares </h2>

    <section class="celulares">
        <i class="fas fa-arrow-circle-left"></i>
         <div class = cel-1>
         <img src="/images/Celular.jpg" class="product-cel">
         <div class="description-off">
         <h3> Nombre del producto</h3>
         <p> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
        </div>
        </div>
        <div class = cel-2>
            <img src="/images/Celular.jpg" class="product-cel">
            <div class="description-off">
            <h3> Nombre del producto</h3>
            <p> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
        </div>
        </div>
           <div class = cel-3>
            <img src="/images/Celular.jpg" class="product-cel">
            <div class="description-off">
            <h3> Nombre del producto</h3>
            <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i> </p>
        </div>
        </div>
           <i class="fas fa-arrow-circle-right"></i>
    </section>

    <%-include("./partials/footer") %>

</main>

</body>
</html>
