<!DOCTYPE html>
<html lang="en">
    <%-include("./partials/head") %>
<body>
    <%-include("./partials/header") %>
<section class="fondo-carrito">
    <h2 class="titulo-carrito">Mi Carrito</h2>
    <div class="container-carrito">
       
       <div class= "col-2">
        <img class="imagenes-carrito" src="/images/Notebook.jpg" width="35%">
       </div>
       <div class= "col-3">
       <h1>Notebook HP</h1>
       <h4 class="precio-carrito">$190,0000</h4>
       <section class="descripcion-carrito">
       <h3> descripción producto</h3>
       <p>Notebook HP Pavilion Gaming 16,1" Intel® Core™ i5-10300H 8GB 512GB 16-A0061LA</p>
            <section class="especificaciones-carrito">
              <article>
              <h4>Especificaciones técnicas</h4>
                  <div>
                      <p>Procesador: Intel® Core™ i5-10300</p>
                      <p>Memoria: Disco SSD - 512 GB, Memoria ram - 8 GB</p>
                      <p>Sistema operativo: Windows 10 Home 64</p>
                      <p>Resolución de pantalla: 1920 X 1080</p>
                      <p>Duración de batería: 3 Celdas</p>
                      <p>Modelo: 16-A0061LA</p>
                    </section>
                  </article>
                </section>
              </div>
              
       </div>
  
 </div>
 <section class="botones-carrito"> 
    <select class="cantidad-de-producto">
      <option>Cantidad</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
     
      </select>
      <a href="/" class="boton-eliminar-carrito">Eliminar del carro</a>
  </section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</section>
<%-include("./partials/footer") %>
</html>

