<header class="main-header">
    <nav class="main-header-top">
        <ul class=left-nav>
            <li><a href="#">Seguí tu compra</a></li>
            <li><a href="#">Servicio técnico</a></li>
            <li><a href="#">Sucursales</a></li>
            <li><a href="#">Venta telefónica</a></li>
            <li><a href="#">Centro de ayuda</a></li>
        </ul>
        <% if (locals.isLogged == false) { %>
        <ul class=right-nav>
            <li><a href="/login">Iniciar Sesión <i class="fas fa-sign-in-alt"></i></a></a></li>
            <li><a href="/register">Registrarse <i class="far fa-address-card"></i></a></li>
        </ul>
        <% } %>
    </nav>
    <div class="main-header-center">
    <div class="logo-search">
        <img src="/images/Logo - Digital Market.png" class="logo">                
        <h2 class = "slogan"> Encontrá todo lo que buscas al alcance de un click</h2>    
        <div class="user">
                <article class=header-right><a href="/productCart">
                    <img src = "/images/avatars/chart1.png" width="65" style="border-radius: 100%;">
                    <p class=parrafo> Mi carro </p></a>
                </article>
                
                <article class=header-right><a href="">
               <img src = "/images/avatars/default.png" width="50" style="border-radius: 100%;">
               <p class=parrafo> Perfil</p></a>
                </article>
            </div>
        </div>
    
    <h2 class="burger-menu">
        <i class="fas fa-bars"> Categorías</i>  
     </h2>
    
     <div class=contenedor> <input class = barra-busqueda type="text" placeholder="Busca productos, marcas">
        <span class=search><i class="fas fa-search"></i></span></div>
        
    </div>
    <nav class=header-bottom-bar>
            <ul class=categorias>
                <li><a href=""> Ofertas | </a></li>
                <li><a href=""> Lo más destacado | </a></li>
                <li><a href=""> Visto recientemente | </a></li>
                <li><a href=""> Productos Guardados | </a></li>
            </ul>
            <ul class=redes>         
                <li><a href=""><i class="fab fa-facebook-square"></i> </a></li>
                <li><a href=""><i class="fab fa-instagram"></i> </a></li>
                <li><a href=""><i class="fab fa-twitter"></i> </a></li>
                <li> <a href=""><i class="fab fa-youtube"></i> </a></li>
            </ul>
    </nav>
    </header>