<!DOCTYPE html>
<html lang="en">
    <%-include("./partials/head") %>
<body>
    <%-include("./partials/header") %>


<form action="/login">
  <div class="container">
    <h1>Inicio de sesion</h1>
   
    <hr>

    <label for="email"><b>Correo Electronico</b></label>
    <input type="text" placeholder="Ingrese su correo" name="email" id="email" required>

    <% if (locals.errors && errors.email) { %>
      <div class= "text-danger">
        <%= errors.email.msg%>
      </div> 
      <% } %>

    <label for="psw"><b>Contraseña</b></label>
    <input type="password" placeholder="Ingresar contraseña" name="psw" id="psw" required>

   
    <hr>
   

    <button type="submit" class="registerbtn">Iniciar sesion</button>
  </div>
  
 
</form>




    <button type="submit" class="registerbtn">Register</button>
  </div>
  
  <div class="container signin">
    <p>Ya tienes una cuenta? <a href="#">Inicia sesion</a>.</p>
  </div>
</form>
<%-include("./partials/footer") %>
</body>
</html>