<!DOCTYPE html>
<html lang="en">
    <%-include("./partials/head") %>
<body>
    <%-include("./partials/header") %>
        <main>
<div class= "small-container">
  <div class="row">
     <div class= "col-2">
      <img src="/images/Notebook.jpg" width="60%">
     </div>
     <div class= "col-3">
     <p> Home / Informática / Notebook</p>
     <h1>Notebook HP</h1>
     <h4>$190,0000</h4>
     <select>
     <option>Medios de Pago</option>
     <option>Visa</option>
     <option>Mastercard</option>
     <option>American Express</option>
     </select>
     <a href="" class="btn">Agregar al carro</a>
     <h3> descripción producto</h3>
     <p>Notebook HP Pavilion Gaming 16,1" Intel® Core™ i5-10300H 8GB 512GB 16-A0061LA</p>
          <section class="especificaciones">
            <article class="tecnicas">
            <h4>Especificaciones técnicas</h4>
                <div class="especificaciones-tecnicas">
                    <p>Procesador: Intel® Core™ i5-10300</p>
                    <p>Memoria: Disco SSD - 512 GB, Memoria ram - 8 GB</p>
                    <p>Sistema operativo: Windows 10 Home 64</p>
                    <p>Resolución de pantalla: 1920 X 1080</p>
                    <p>Duración de batería: 3 Celdas</p>
                    <p>Modelo: 16-A0061LA</p>
                </article>

            </div>
     <form method="get">
<button class="botonProductos"> <a href="/productCart"> </a>Agregar Producto</button>

     </form> <form method="put">
        <button class="botonProductos2">Editar Producto</button>
             </form>
     
     </div>

</div>
    
</main>
<%-include("./partials/footer") %>

</body>
</html>
